Martin.TestHelpers/Martin.TestHelpers/obj/
Martin.TestHelpers/packages/
Martin.TestHelpers/Martin.TestHelpers/bin/Debug/FluentAssertions.Core.xml
Martin.TestHelpers/Martin.TestHelpers.Utils/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Martin.TestHelpers/Martin.TestHelpers.Utils/obj/
Martin.TestHelpers/Martin.TestHelpers/bin/
